.nav-link{
  font-weight: bold;
  font-size: 16pt;
  padding: 6px 15px 6px 0;
}

.nav-link:hover{
  background: white;
  color: black;
}

.nav-link:active{
  background: white;
  color: black;
}

div{
  padding: 0;
  margin: 10px 0;
}

nav{
  margin: 0;
}
