<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="mt-0 mb-1">Индивидуальный предприниматель Швецова Мария Валерьевна</h1>
      <b>+79193977777</b>
      <a class="link indented" href="#">www.mary.com</a>
      <a class="link indented" href="#">mary@tochka.com</a>
      <p><a class="link" href="#">Информация о компании</a></p>
      <p><a class="link" href="#">Показать реквизиты</a></p>
      <p><a [title]="'go to admin panel'" [routerLink]="['/admin']">Админка</a></p>
    </div>
    <div class="col-sm-4">
      <img class="col align-self-end" src="assets/images/ava.png" alt="ava">
    </div>
  </div>
</div>
