h1{
  font-size: 17pt;
  font-weight: bold;
}

b{
  color: grey;
}

a{
  font-weight: bold;
  text-decoration: none;
}

p{
  margin: 2px 0 2px;
}

.indented, b{
  margin: 0 4em 4em 0;
}

.col-sm-7{
  padding: 0;
}
