div {
  display: inline-block;
  margin: 10px;
  width: 350px;
  vertical-align: top;
}

.image{
  display: inline-block;
}

form {
  /* width: 70% */
  max-width: 900px;
}

form p {
  display: grid;
  grid-template-columns: 30% repeat(3, 23%);
  margin: 15px;
}

img{
  width: 40px;
  height: 30px;
}

input,
textarea {
  display: inline-block;
  margin: 2%;
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
  grid-column: 2/5;
}



.cardInfo {
  border: 1px solid gray;
  border-radius: 10px;
  height: 200px;
  width: 350px;
  top: 0;
  background: #F0F0F0; /* Цвет фона */
  box-shadow: -1px 5px 10px 5px #D3D3D3; /* Параметры тени */
  padding: 10px;
}

.paymentInfo{
  width: 450px;
}

.card {
  margin: 10% 5%;
  background: #F0F0F0;
  border-bottom: 1px solid #808080;
}

.date {
  width: 60%;
  margin: 5% auto 10% 5%;
  background: #F0F0F0;
  border-bottom: 1px solid #808080;
  /* display: inline-block; */
}

.cvc {
  width: 15%;
  margin: 5% auto 10% 5%;
  background: #F0F0F0;
  border-bottom: 1px solid #808080;
}

input[type="submit"] {
  width: 90px;
  height: 35px;
  display: block;
  border: 1px solid black;
  background: plum;
  color: #000;
}
