.title {
  font-weight: bold;
  font-size: 12pt;
  max-width: 750px;
}
form {
  /* width: 70% */
  max-width: 500px;
}
form p {
  display: grid;
  grid-template-columns: 30% repeat(3, 23%)
}

label{
  color: #808080;
}

span{
  color: #808080;
  font-weight: bold;
}

input[type="text"] {
  grid-column: 2/5;
  border: none;
  border-bottom: 1px solid black;
}

input[type="email"],
input[type="tel"] {
  grid-column: 2/5;
  border: none;
}

input[type="submit"],
input[type="reset"]
{
  display: block;
  margin-bottom: 10px;
  height: 30px;
}

input[type="submit"] {
  border: 1px solid black;
  background: plum;
}

input[type="reset"] {
  border: none;
  background: none;
  color: blue;
  font-weight: bold;
}

input[type="radio"]:checked + label {
  color: blue;
}
