<p class="title">Создайте платёжку, а Индивидуальный предприниматель Швецова Марина Валерьевна
  подпишет её у себя в интернет-банке</p>
<form action="">
  <p>
    <label class="description" for="from">ИНН получателя</label>
    <input type="text" name="from" id="from" placeholder="ИНН или название получателя" required>
  </p>
  <p>
    <label class="description" for="bic">БИК</label>
    <input type="text" name="bic" id="bic" pattern="\d{9}" required>
  </p>
  <p>
    <label class="description" for="number">Номер счёта</label>
    <input type="text" name="number" id="number" pattern="\d{1,}" required>
  </p>
  <p class="for">
    <span class="description">За что</span>
    <input type="radio" name="for" id="vat18" hidden checked>
    <label for="vat18">НДС 18%</label>
    <input type="radio" name="for" id="vat10" hidden>
    <label for="vat10">НДС 10%</label>
    <input type="radio" name="for" id="noVat" hidden>
    <label for="noVat">Без НДС</label>
  </p>
  <p>
    <label class="description" for="money">Сколько</label>
    <input type="text" name="money" id="money" pattern="\d{1,5}(.\d{2})?" required>
  </p>
  <p>
    <label class="description" for="tel">Номер телефона</label>
    <input type="tel" name="tel" id="tel" placeholder="+7" required>
  </p>
  <p>
    <label class="description" for="email">Эл.почта</label>
    <input type="email" name="email" id="email" placeholder="Для уведомлений об оплате" required>
  </p>
  <input type="submit" value="Создать платёж">
  <input type="reset" value="Очистить форму">
</form>
