<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <app-information></app-information>
  </div>
  <div class="row">
    <app-pay_menu (featureSelected)="onNavigate($event)"></app-pay_menu>
    <div class="row">
      <div class="col-md-12">
        <app-pay *ngIf="loadedFeature === 'pay'"></app-pay>
        <app-request_pay *ngIf="loadedFeature !== 'pay'"></app-request_pay>
      </div>
    </div>
  </div>
  <div class="row">
    <app-company></app-company>
  </div>
</div>
