/*a{
  text-decoration: none; /* Отменяем подчеркивание у ссылки
}

nav>ul{
  margin: 0;
  padding: 10px;
}

nav>ul li{
  display: inline-block;
  padding: 5px;
}

.card_black{
  background-image: url("card_black.png");
  background-repeat: no-repeat;
}

div{
  width: 20px;
  height: 20px;
}*/
