<p class="title">Сформируйте платёжку и загрузите её в свой банк для подписи</p>
<form action="">
  <p>
    <label class="description" for="from">От кого</label>
    <input type="text" name="from" id="from" placeholder="ИНН или название платильщика" required>
  </p>
  <p>
    <label class="description" for="bic">БИК</label>
    <input type="text" name="bic" id="bic" placeholder="БИК" pattern="\d{9}" required>
  </p>
  <p>
    <label class="description" for="number">Номер счёта</label>
    <input type="text" name="number" id="number" pattern="\d{1,}" required>
  </p>
  <p class="for">
    <span class="description">За что</span>
    <input type="radio" name="for" id="vat18" hidden checked>
    <label for="vat18">НДС 18%</label>
    <input type="radio" name="for" id="vat10" hidden>
    <label for="vat10">НДС 10%</label>
    <input type="radio" name="for" id="noVat" hidden>
    <label for="noVat">Без НДС</label>
  </p>
  <p>
    <label class="description" for="money">Сколько</label>
    <input type="text" name="money" id="money" placeholder="от 1000 до 75000" pattern="\d{1,5}(.\d{2})?" required>
  </p>
  <input type="submit" value="Получить файл для интернет-банка">
  <input type="reset" value="Очистить форму">
</form>
