<h1>О компании Индивидуальный предприниматель Швецова Мария Валерьевна</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/images/1.jpg" target="_blank">
          <img src="assets/images/1.jpg" alt="1" style="width:100%">
          <div class="caption">
            <p>Пейзаж Алексея Сычева</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/images/2.jpg" target="_blank">
          <img src="assets/images/2.jpg" alt="2" style="width:100%">
          <div class="caption">
            <p>Красивые пейзажи деревенской природы - Муром, Карачарово, Владимирская область, Ока.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/images/3.jpg" target="_blank">
          <img src="assets/images/3.jpg" alt="3" style="width:100%">
          <div class="caption">
            <p>Красивые пейзажи Канады.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <input type="checkbox" id="check" checked>
    <span class="textarea">
      <h2>Пейзаж</h2>
      <p><b>Ландшафтные снимки с видами лесов или гор, сельской или городской местности, водной стихии или неба.</b></p>
      <p><b>Например, к таковым относятся работы Василия Никандровича Сокорнова. Из работ более близких по времени авторов можно указать фотографии Александра Викторова, Эдуарда Левена, Александра Китаева.</b> </p>
    </span>
    <label for="check" class="show-more"> Показать всё </label>
  </div>

  <div class="container">
    <nav class="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="https://twitter.com/?lang=ru" target="_blank">
            <img src="assets/images/twitter.png" alt="twitter" style="width:100%"></a></li>
        <li class="nav-item">
          <a href="https://ru-ru.facebook.com/" target="_blank">
            <img src="assets/images/facebook.png" alt="facebook" style="width:100%"></a></li>
        <li class="nav-item">
          <a href="https://www.google.com/intl/ru/gmail/about/" target="_blank">
            <img src="assets/images/google.jpg" alt="google" style="width:100%"></a></li>
        <li class="nav-item">
          <a href="https://vk.com/" target="_blank">
            <img src="assets/images/vk.jpg" alt="vk" style="width:100%"></a></li>
        <li class="nav-item">
          <a href="https://ok.ru/" target="_blank">
            <img src="assets/images/odnoklassniki.png" alt="odnoklassniki" style="width:100%"></a></li>
        <li class="nav-item">
          <a href="https://ru.linkedin.com/" target="_blank">
            <img src="assets/images/Linkedin.png" alt="Linkedin" style="width:100%"></a></li>
        <li class="nav-item">
          <a href="https://telegram.org/" target="_blank">
            <img src="assets/images/telegram.png" alt="telegram" style="width:100%"></a></li>
      </ul>
     </nav>
  </div>

</div>
