<h1>О компании Индивидуальный предприниматель Швецова Мария Валерьевна</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/images/1.jpg" target="_blank">
          <img src="assets/images/1.jpg" alt="1" style="width:100%">
          <div class="caption">
            <p>Пейзаж Алексея Сычева</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/images/2.jpg" target="_blank">
          <img src="assets/images/2.jpg" alt="2" style="width:100%">
          <div class="caption">
            <p>Красивые пейзажи деревенской природы - Муром, Карачарово, Владимирская область, Ока.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/images/3.jpg" target="_blank">
          <img src="assets/images/3.jpg" alt="3" style="width:100%">
          <div class="caption">
            <p>Красивые пейзажи Канады.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
